[tool.poetry]
name = "dj-shop-cart"
version = "3.0.0"
description = "Simple django cart manager for your django projects."
authors = ["Tobi DEGNON <tobidegnon@protonmail.com>"]
license = "MIT"
repository = "https://github.com/Tobi-De/dj-shop-cart"
homepage = "https://github.com/Tobi-De/dj-shop-cart"
keywords = ["django", "python", "cart", "shop", "ecommerce"]
packages=[
    { include = "dj_shop_cart" },
    { include = "dj_shop_cart/migrations" },
]

[tool.poetry.dependencies]
python = "^3.8"
Django = ">=3"
attrs = "^21.4.0"

[tool.poetry.dev-dependencies]
pytest = "^7.0.1"
pytest-django = "^4.5.2"
mypy = "^0.931"
pre-commit = "^2.17.0"
black = "^22.1.0"
django-stubs = "^1.9.0"
factory-boy = "^3.2.1"
ipython = "^8.1.1"

[tool.black]
target-version = ['py37']

[tool.isort]
profile = "black"
add_imports = "from __future__ import annotations"

[tool.mypy]
check_untyped_defs = true
disallow_any_generics = true
disallow_incomplete_defs = true
disallow_untyped_defs = true
mypy_path = "dj_shop_cart/"
no_implicit_optional = true
show_error_codes = true
warn_unreachable = true
warn_unused_ignores = true

[[tool.mypy.overrides]]
module = "tests.*"
allow_untyped_defs = true

[tool.pytest.ini_options]
addopts = "--ds=tests.settings --reuse-db"
python_files = ["tests.py", "test_*.py"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
